body {
  background-color: #1f2937;
}
header,
footer {
  background-color: #1f2937;
  color: #f9faf8;
  text-align: center;
}

footer {
  padding-top: 15px;
}

a {
  color: #f9faf8;
  text-decoration: underline;
  /* text-decoration: dotted; */
}

a:hover,
a:active {
  color: rgb(122, 212, 212);
}

button {
  border-radius: 5px;
  font-weight: bold;
}

h1 {
  margin: 0;
}

h2 {
  text-align: center;
}

h2 {
  font-size: 1em;
  margin: 0 auto 5px;
  padding-bottom: 5px;
  background-color: aliceblue;
  border-bottom: 1px solid gray;
}

hr {
  margin: 0 0 20px;
}

.reset-container {
  text-align: center;
  margin: auto;
}

.reset {
  color: rgb(48, 135, 135);
}

.game-container {
  margin-top: 20px;
}

.section {
  border: 1px solid gray;
  width: 30%;
  border-radius: 10px;
  margin: 10px auto;
  padding: 10px;
}

.game-buttons,
.choices,
.wins {
  display: flex;
  justify-content: space-between;
}

.game-buttons > button {
  flex: 1;
  margin: 10px;
}

#pchoice,
#cchoice,
#pwin,
#cwin,
#ties {
  margin-left: 10px;
}

.message-section {
  text-align: center;
}

.message {
  color: #f9faf8;
}

table {
  width: 100%;
  text-align: center;
  table-layout: fixed;
  border: 1px solid gray;
}

th {
  background-color: rgb(196, 185, 185);
}

td {
  background-color: aliceblue;
}

td,
th {
  margin: 2px;
}

#total {
  background-color: beige;
}
